<header class="flex bg-white border-b border-gray-200 top-0 fixed inset-x-0 z-50 h-30">
  <div class="w-full relative py-3">
    <div class="container mx-auto">
      <div class="flex justify-center items-baseline">
        <div class="logo">
          <h1 class="text-3xl">Rotab</h1>
        </div>
        <p class="desc ml-4 text-gray-600">
          this is rotab.
        </p>
      </div>
      <div class="flex justify-center mt-2">
        <nav class="flex">
          <a href="#" class="mx-4 text-gray-800 hover:text-gray-600 transition hover:-translateY-sm">Index</a>
          <a href="#" class="mx-4 text-gray-800 hover:text-gray-600 transition hover:-translateY-sm">Index</a>
          <a href="#" class="mx-4 text-gray-800 hover:text-gray-600 transition hover:-translateY-sm">Index</a>
        </nav>
      </div>
    </div>
  </div>
</header>



